.footer {
    background-color: #343a40;
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer {
    background-color: #343a40;
    height: 15px;
    width: 100%;
}